<section class="blog">
	<div class="container blog__container">
		<a href="#" target="_blank" class="blog__title">
			Блог
			<div class="blog__container-arrow">
				<svg class="blog__arrow">
					<use xlink:href="img/sprite.svg#right"></use>
				</svg>
			</div>
		</a>
		<div class="swiper blog__slider">
			<div class="swiper-wrapper blog__wrapper">
				<div class="swiper-slide blog__slide">
					<img src="./img/blog.png" class="image blog__image" width="280" height="176" alt="Картинка кейса" />
					<div class="blog__body">
						<a href="#" class="blog__subtitle">Как сделать букет своими руками</a>
						<div class="blog__tags">
							<div class="blog__tag">Новости</div>
							<div class="blog__tag">28 июня 2022</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide blog__slide">
					<img src="./img/blog.png" class="image blog__image" width="280" height="176" alt="Картинка кейса" />
					<div class="blog__body">
						<a href="#" class="blog__subtitle">Как сделать букет своими руками</a>
						<div class="blog__tags">
							<div class="blog__tag">Новости</div>
							<div class="blog__tag">28 июня 2022</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide blog__slide">
					<img src="./img/blog.png" class="image blog__image" width="280" height="176" alt="Картинка кейса" />
					<div class="blog__body">
						<a href="#" class="blog__subtitle">Как сделать букет своими руками</a>
						<div class="blog__tags">
							<div class="blog__tag">Советы покупателям</div>
							<div class="blog__tag">28 июня 2022</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide blog__slide">
					<img src="./img/blog.png" class="image blog__image" width="280" height="176" alt="Картинка кейса" />
					<div class="blog__body">
						<a href="#" class="blog__subtitle">Как сделать букет своими руками</a>
						<div class="blog__tags">
							<div class="blog__tag">Новости</div>
							<div class="blog__tag">28 июня 2022</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide blog__slide">
					<img src="./img/blog.png" class="image blog__image" width="280" height="176" alt="Картинка кейса" />
					<div class="blog__body">
						<a href="#" class="blog__subtitle">Как сделать букет своими руками</a>
						<div class="blog__tags">
							<div class="blog__tag">Новости</div>
							<div class="blog__tag">28 июня 2022</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide blog__slide">
					<img src="./img/blog.png" class="image blog__image" width="280" height="176" alt="Картинка кейса" />
					<div class="blog__body">
						<a href="#" class="blog__subtitle">Как сделать букет своими руками</a>
						<div class="blog__tags">
							<div class="blog__tag">Новости</div>
							<div class="blog__tag">28 июня 2022</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide blog__slide">
					<img src="./img/blog.png" class="image blog__image" width="280" height="176" alt="Картинка кейса" />
					<div class="blog__body">
						<a href="#" class="blog__subtitle">Как сделать букет своими руками</a>
						<div class="blog__tags">
							<div class="blog__tag">Новости</div>
							<div class="blog__tag">28 июня 2022</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
