<section class="map">
	<div class="container map__container">
		<h2 class="map__title">Работаем <br />по всей россии</h2>
		<div class="map__container-list">
			<h4 class="map__subtitle">Мы сертифицированные партнеры</h4>
			<ul class="list-reset map__list">
				<li class="map__item">1С-Битрикс</li>
				<li class="map__item">Битрикс24</li>
				<li class="map__item">Roistat</li>
				<li class="map__item">СберCRM</li>
			</ul>
		</div>
		<img src="./img/map.png" class="image map__image" width="910" height="501" alt="" />
	</div>
</section>
